Indexing_Images_for_Content_Based_Retrieval.sln
.vs/Indexing_Images_for_Content_Based_Retrieval/v15/
*.vcxproj
*.filters
Indexing_Images_for_Content_Based_Retrieval/Debug/
*.db
*.opendb
*.ipch
*.enc
*.idb
*.tlog
